<div class="sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
      <h1>
        <a href="{{ site.baseurl }}">
          {{ site.title }}
        </a>
      </h1>
      <p class="lead">{{ site.description }}</p>
    </div>

    <nav class="sidebar-nav">
      {% for link in site.data.links %}
        <a class="sidebar-nav-item{% if page.url == link.url %} active{% endif %}" href="{{ link.url | relative_url }}">{{ link.title }}</a>
      {% endfor %}
    </nav>

    <!--<p>&copy; {{ site.time | date: '%Y' }}. All rights reserved.</p>-->
  </div>
</div>
